
.overlay 
{
	position: fixed;
	left: 0px;
	top:0px;
	background-color: rgba(0,0 ,0 , 0.5);
	width: 100%;
	height: 100%;
	z-index:1;
	display:none;
}

.overlay2
{
	position: fixed;
	left: 0px;
	top:0px;
	background-color: rgba(0,0 ,0 , 0.5);
	width: 100%;
	height: 100%;
	z-index:1;
	display:none;
}


.overlay3
{
	position: fixed;
	left: 0px;
	top:0px;
	background-color: rgba(0,0 ,0 , 0.5);
	width: 100%;
	height: 100%;
	z-index:1;
	display:none;
}

h1
{
    text-align: center;
}

h2
{
    text-align: center;
}


h3
{
    text-decoration: underline;
}

h4
{
    text-decoration: underline;
}
nav
{
	float: left;
	width: 225px;
}

article, aside
{
	text-align: justify;
}

article
{
	
	flex: 3;
	justify-content: center;
}

#body 
{
	display: flex;
}

#header 
{
	display: flex;
	justify-content: center;
}

.chantier
{
	margin-top: 0;
	margin-bottom: 0.5rem;
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 2;
	font-size: 48px;
	color: #FF0404;
}